@page
@model MuntiRomania.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MountainRange</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MountainRange.MountainRangeId" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="MountainRange.Name" class="control-label"></label>
                <input asp-for="MountainRange.Name" class="form-control" aria-required="true"/>
                <span asp-validation-for="MountainRange.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="MountainRange.RegionId" class="control-label"></label>
                <select asp-for="MountainRange.RegionId" class="form-control" asp-items="ViewBag.RegionId" aria-required="true"></select>
                <span asp-validation-for="MountainRange.RegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
